:root {
    --card-color: hsl(225, 100%, 98%);
    --button-color: hsl(245, 75%, 52%);
    --button-color-lightened: hsl(245, 75%, 62%);
    --plan-color: hsl(225, 100%, 94%);
    --p-color: hsl(224, 23%, 55%);
    --h1-color: hsl(223, 47%, 23%);
}
